# Dependencias de Node en la RAÍZ
/node_modules

# Dependencias de Node en el BACKEND
/backend/node_modules

# Archivos de entorno y secretos
.env
.DS_Store

# Logs y Bases de datos
npm-debug.log*
yarn-error.log*
*.sqlite
/data
/log
/temp

# Configuración del Editor (Recomendado)
/.vscode